{{ use('yii/widgets/ActiveForm') }}
{% set form = active_form_begin({
'id' : 'adress-form',
'options' : {'class' : 'form-horizontal'},
}) %}
    {{ form.field(modelAdress, 'adress_index')  | raw }}
    {{ form.field(modelAdress, 'adress_country') | raw }}
    {{ form.field(modelAdress, 'adress_city') | raw }}
    {{ form.field(modelAdress, 'adress_street') | raw }}
    {{ form.field(modelAdress, 'adress_house_num') | raw }}
    {{ form.field(modelAdress, 'adress_app_num') | raw }}

<div class="form-group">
    <input type="submit" value="Adress" class="btn btn-primary" />
</div>
{{ active_form_end() }}