{#{{ title }}#}
{#{{ use ('yii\helpers\Html') }}#}
{#{{ use ('yii\helpers\Html') }}#}
{#<div class="site-index">#}


    {#<div class="body-content">#}

        {#<div class="row">#}

        {#</div>#}

    {#</div>#}
{#</div>#}
<?php
{{ use('yii\\helpers\\Html') }}
{{ use('yii\\helpers\\Url') }}
{{ use('yii\\grid\\GridView') }}
{#{{ use('app\\models\\Team') }}#}

?>

<h2>Список пользователей</h2>
{{ html.a('Додати команду', ('/login'),
{'class':'btn btn-primary pull-right'})}}
<br>
<br>

{{  GridView_widget({
    'dataProvider' : model,
    'summary' : false,
    'columns' : [
    {'class': '\\yii\\grid\\SerialColumn'},
    'user_id',
    {
        'attribute' : 'user_firstname',
        'value' : html.a(html.encode('user_firstname')),
    },
    {'class' : 'yii\\grid\\ActionColumn',
        'template' : '{view}',
    },
    ],
})
}}
