<?php
{{ use('yii\\helpers\\Html') }}
{{ use('yii\\helpers\\Url') }}
{{ use('yii\\grid\\GridView') }}
?>

{% if user %}
    <p>user_id {{ user.user_id }}</p>
    <p>user_firstname {{ user.user_firstname }}</p>
    <p>user_lastname {{ user.user_lastname }}</p>
    <p>user_email {{ user.user_email }}</p>
    <p>user_sex {{ user.user_sex }}</p>
{% endif %}
{#{{  GridView_widget({#}
    {#'dataProvider' : modelAdress,#}
    {#'summary' : false,#}
    {#'columns' : [#}
    {#{'class': '\\yii\\grid\\SerialColumn'},#}
    {#'adress_id',#}
    {#{#}
        {#'attribute' : 'adress_index',#}
        {#'value' : html.a(html.encode('adress_index')),#}
    {#},#}
    {#'adress_index',#}
    {#'adress_country',#}
    {#'adress_city',#}
    {#'adress_street',#}
    {#'adress_house_num',#}
    {#'adress_app_num',#}
    {#],#}
{#})#}
{#}}#}
{% if modelAdress %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">adress_id</th>
        <th scope="col">adress_index</th>
        <th scope="col">adress_country</th>
        <th scope="col">adress_city</th>
        <th scope="col">adress_street</th>
        <th scope="col">adress_house_num</th>
        <th scope="col">adress_app_num</th>
    </tr>
    </thead>
    <tbody>
        {% for model in modelAdress %}
        <tr>
        <th scope="row">{{ model.adress_id }}</th>
        <td>{{ model.adress_index }}</td>
        <td>{{ model.adress_country }}</td>
        <td>{{ model.adress_city }}</td>
        <td>{{ model.adress_street }}</td>
        <td>{{ model.adress_house_num }}</td>
        <td>{{ model.adress_app_num }}</td>

        </tr>
        {% endfor%}

    </tbody>
</table>
{% endif %}
<a href="adress?user_id={{ user.user_id }}" class="btn btn-danger btn-lg">Add adress</a>

